.dashboard {
  &-form {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  &-item {
    margin: 0;
  }
}
